spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/customerdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

jwt:
  secret: ${JWT_SECRET:my-very-strong-secret-key-change-me}
  expiration: 3600000 # 1 hour in ms

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

server:
  port: 8080
